<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/styles_no_internet.css">
</head>
<body>
    <div class="container-fluid main_container">
        <div class="row">
            <i class="fa fa-3x fa-info-circle" aria-hidden="true"></i>
            <h2 id="show_total_revenue"></h2>
        </div>
    </div>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/tether.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/urls.js"></script>
    <script src="../static/js/overview.js"></script>
</body>
</html>
