<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="../static/css/leaflet.css">
    <link rel="stylesheet" href="../static/css/styles_no_internet.css">
</head>
<body>
    <div class="container-fluid main_container">
        <!-- title -->
        <div class="col-sm-10" align="left">
            <h2><i class="fa fa-pencil-square-o" aria-hidden="true"></i>编辑石油化工反应模块(Edit the petrol chemical process block)<span style="font-size: 20px !important"></span></h2>
            <br />
        </div>
        <!-- container for the chemical process definition -->
        <div class="row" id="chemprocess">
            <!--reactants-->           
            <div class="col-md-4" id="reactant" style="background-color:burlywood">
                <div class="row"><h3>编辑原料:</h3><br /></div>
                <div class="row">
                    <label class="col-sm-4">请选择原料:</label>
                    <select class="col-sm-6">
                        <option disabled selected>--选择--</option>
                    </select>
                    <button><i class="fa fa-plus fa-1x" aria-hidden="true"></i></button>
                    <button><i class="fa fa-minus fa-1x" aria-hidden="true"></i></button>
                </div>
                <br />
                <table class="table table-sm">
                    <thead>
                        <tr class="table-info">
                            <th>数量(单位:摩尔)<br />amount(moles)</th>
                            <th>名称<br />name</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!--reaction condition, catalyst-->
            <div class="col-md-4" id="reaction" ><!--style="background-color:gold"-->
                <!-- reaction conditions-->
                <div class="row"><h3>编辑反应条件:</h3><br /></div>
                <div class="row">
                    <label class="col-md-4 control-label">反应温度(摄氏度)<br />Temperature(C)</label>
                    <input id="reactionT" class="col-md-3" type="number" step="0.01" value="20"/>
                </div>
                <div class="row">
                    <label class="col-md-4 control-label">反应压强(巴)<br />Pressure(bar)</label>
                    <input id="reactionP" class="col-md-3" type="number" step="0.01" value="1" />
                </div>
                <!-- draw an arrowline -->
                <div class="row" id="reactionline">
                    <svg></svg>
                </div>
                <!-- name of catalyst -->
                <div class="row">
                    <label class="col-sm-4">请选择催化剂:</label>
                    <select class="col-sm-6">
                        <option disabled selected>--选择--</option>
                    </select>
                    <button><i class="fa fa-plus fa-1x" aria-hidden="true"></i></button>
                    <button><i class="fa fa-minus fa-1x" aria-hidden="true"></i></button>
                </div>
                <br />
                <table class="table table-sm">
                    <thead>
                        <tr class="table-warning">
                            <th>数量(单位:摩尔)<br />amount(moles)</th>
                            <th>名称<br />name</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!--products + byproducts -->
            <div class="col-md-4" id="product" style="background-color:darkgray">
                <div class="row"><h3>编辑生成物:</h3><br /></div>
                <div class="row">
                    <label class="col-sm-4">请选择化学产品:</label>
                    <select class="col-sm-6">
                        <option disabled selected>--选择--</option>
                    </select>
                    <button><i class="fa fa-plus fa-1x" aria-hidden="true"></i></button>
                    <button><i class="fa fa-minus fa-1x" aria-hidden="true"></i></button>
                </div>
                <br />
                <table class="table table-sm">
                    <thead>
                        <tr class="table-success">
                            <th>数量(单位:摩尔)<br />amount(moles)</th>
                            <th>名称<br />name</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <!-- container for the emission, energy, utilities-->
        <div class="row">Emission</div>
        <div class="row">Energy</div>
        <div class="row">Utility</div>
        <!-- message -->
        <div class="alert alert-success" role="alert" id="info_message"><i class="fa"></i></div>
        <!-- submit Button -->
        <div class="row">
            <div class="col-md-4">
                <button id="send" type="button" class="btn btn-warning">Send <span class="glyphicon glyphicon-send"></span></button>
            </div>
            <label class="col-md-4 control-label"></label>
        </div>
    </div>

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/tether.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/d3.min.js"></script>
    <script src="../static/js/edit_chemical_process.js"></script>
    <script src="../static/js/chemicals.js"></script>
    <script src="../static/js/urls.js"></script>
</body>
</html>
