<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="../static/css/styles_no_internet.css">
</head>
<body>
    <div class="container-fluid main_container">
        <!-- title -->
        <div class="col-md-10" align="left">
            <h2><i class="fa fa-pencil-square-o" aria-hidden="true"></i>编辑化工品(Edit the chemicals)<span style="font-size: 20px !important"></span></h2>
            <br />
        </div>
        <div class="col-md-8">
            <!-- list of all existed chemicals-->           
            <label class="col-md-3"><i class="fa fa-list-ul" aria-hidden="true"> 请选择要编辑的化学品:</i></label>
            <select class="col-md-3" id="chemical_list">
                <option disabled selected>--选择--</option>
                <option></option>
                <option>test</option>
            </select>
            <label class="col-md-4"><i class="fa fa-info-circle" aria-hidden="true"></i>若选择为空,则默认为添加, 否则为更新</label>
        </div>      
        <form id="chemical_detail" class="col-md-8" style="background-color:lightblue">
            <fieldset>
                <legend>详细信息(details)</legend>
                <div class="row">
                    <label class="col-md-4 control-label">英文名(English name):</label>
                    <input class="col-md-2" type="text" id="cname_en" name="name_en"/>
                </div><br />
                <div class="row">
                    <label class="col-md-4 control-label">中文名(chinese name):</label>
                    <input class="col-md-2" type="text" id="cname_cn" name="name_cn"/>
                </div><br />
                <div class="row">
                    <label class="col-md-4 control-label">分子量(molar mass):</label>
                    <input class="col-md-2" type="number" step="1" value="1" id="cmolar_mass" name="molar_mass"/>
                </div><br />
                <div class="row">
                    <label class="col-md-4 control-label">密度(density):</label>
                    <input class="col-md-2" type="number" value="0" id="cdensity" name="density"/>
                </div><br />
                <div class="row">
                    <label class="col-md-4 control-label">分子式(symbol):</label>
                    <input class="col-md-2" type="text" id="csymbol" name="symbol"/>
                </div><br />
            </fieldset>
            <div class="row">
                <label class="col-md-4 control-label">单位(unit):</label>
                <select class="col-md-2" id="cunit" name="unit">
                    <option selected value="T">吨(T)</option>
                    <option value="kg">千克(kg)</option>
                </select>
            </div><br />
            <div class="row">
                <label class="col-md-4 control-label">单位价值(unit value):</label>
                <input class="col-md-2" type="number" step="0.01" value="0" id="cunit_cost" name="unit_cost"/>
            </div><br />
            <div class="row">
                <label class="col-md-4 control-label">单位运输成本(unit transport cost):</label>
                <input class="col-md-2" type="number" step="0.01" value="0" id="cunit_transport_cost" name="unit_transport_cost"/>
            </div><br />
            <div class="row">
                <label class="col-md-4 control-label">货币单位(currency):</label>
                <select class="col-md-2" id="ccurrency" name="currency">
                    <option selected value="cny">元(yuan)</option>
                    <option value="eur">欧元(eur)</option>
                </select>                       
            </div><br />
            <div class="row">
                <label class="col-md-4 control-label">sp_heat:</label>
                <input class="col-md-2" type="number" id="csp_heat" name="sp_heat" />
                <label class="col-md-4"><i class="fa fa-info-circle" aria-hidden="true"></i>J/Kg.K 在标准温度和压强</label>
            </div><br />
            <div class="row">
                <div class="col-md-2">
                    <button id="send" type="submit" class="btn btn-success">Update</button>
                </div>
                <div class="col-md-1">
                    <button id="reset" type="reset" class="btn btn-info">Reset</button>
                </div>
            </div>
        </form>
        
        <!-- message -->
        <div class="alert alert-success" role="alert" id="info_message"><i class="fa"></i></div>
    </div>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/tether.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.validate.min.js"></script>
    <script src="../static/js/edit_chemical.js"></script>
    <script src="../static/js/chemicals.js"></script>
    <script src="../static/js/urls.js"></script>
</body>
</html>
