html, body{
    height: 100%;
}

.main_container{
    height: 100%;
}

#content_row {
    height: 90%;
}

#title-row {
    background: #0094ff;
}

#map-col {
    background: #f9faf4;
}

#info-col {
    background: #b6ff00;
}

#analysis-col {
    background: #f3d2ac;
}